@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-aldrich), monospace;
}

body::selection {
  color: black;
  background-color: rgba(0, 255, 255, 0.8);
}

img {
  -webkit-user-drag: none;
}

.text-white {
  color: white;
}
