.tooltip-container {
    position: relative;
    display: flex;
    user-select: none;
    -webkit-user-drag: none;
}

.tooltip-children {
    position: relative;
    display: flex;
    height: 100%;
}

.tooltip-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 14px;
    text-align: center;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.top {
    bottom: 110%;
}

.bottom {
    top: 110%;
}

.left {
  top: 50%;
  right: 200%;
  left: auto;
  transform: translateY(-50%);
}

.right {
  top: 50%;
  left: 200%;
  right: auto;
  transform: translateY(-50%);
}
